body {
  background-color: #5e8c64;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  margin-top: 10vh;
}

.stream-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.logo {
  width: 60%;
  max-width: 800px;
  min-width: 280px;
  margin-right: 5px;
}