body {
  background-color: #5e8c64;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 93vh;
  align-items: center;
  margin-top: 6vh;
}

.stream-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}

.logo {
  width: 60%;
  max-width: 800px;
  min-width: 280px;
  margin-left: 8px;
}